<%# The answer.html.erb will display the question you ask
your coach as well as his answer.  %>
<div class="container mt-5" style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 50%;">
<p class="mt-4"><%= @user_question %></p>
<p>- User</p>

<br>
<p class="mt-4"><%= @coach_answer %></p>
<p>-Coach</p>
<br>

<button class="btn btn-info mb-5" style="width: 200px";><%= link_to "Ask another question", ask_path %></button>
</div>
